<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, useForm } from '@inertiajs/vue3';


const props = defineProps({
    cars: Object,
    users: Object
   
});

const form = useForm({});

function deleteUser(id) {
    if (confirm("Are you sure you want to delete this user?")) {
        form.delete(route('deleteuser', id));
    }
}
</script>

<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <section class="section section-bg" id="call-to-action" style="background-image: url(/frontend/assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Admin <em>Dashboard</em></h2>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="py-12">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4"> 
                            <table class="table-fixed w-full">
                                <thead>
                                    <tr class="bg-gray-100">
                                        <th class="px-4 py-2 w-20 text-center">UserID.</th>
                                        <th class="px-4 py-2 text-center">Name</th>
                                        <th class="px-4 py-2 text-center">Email</th>                                
                                        <th class="px-4 py-2 text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="user in users" :key="user.id">
                                        <td class="border px-4 py-2 text-center">{{ user.id }}</td>
                                        <td class="border px-4 py-2 text-center">{{ user.name }}</td>
                                        <td class="border px-4 py-2 text-center">{{ user.email }}</td>
                                        <td class="border px-4 py-2">
                                            <button @click="deleteUser(user.id)" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-3">Delete User</button>                       
                                        </td>
                                    </tr>                     
                                </tbody>
                            </table><br><br>
                            <table class="table-fixed w-full">
                                <thead>
                                    <tr class="bg-gray-100">
                                        <th class="px-4 py-2 w-20 text-center">CarID.</th>
                                        <th class="px-4 py-2 text-center">Brand</th>
                                        <th class="px-4 py-2 text-center">Price</th>
                                        <th class="px-4 py-2 text-center">Contact User</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="car in cars" :key="car.id">
                                        <td class="border px-4 py-2 text-center">{{ car.id }}</td>
                                        <td class="border px-4 py-2 text-center">{{ car.brand }}</td>
                                        <td class="border px-4 py-2 text-center">{{ car.price }}</td>
                                        <td class="border px-4 py-2 text-center">{{ car.user.email }}</td>                                
                                    </tr>
                                </tbody>
                            </table>                                                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="#">Modified by Mircea</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    </AuthenticatedLayout>
</template>
