<script setup>
import { Head, Link, useForm } from '@inertiajs/vue3';
import { computed } from 'vue';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide } from 'vue3-carousel';
import Pagination from '@/Components/Pagination.vue';
import Icon from '@/Components/Icons.vue';

const props = defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    cars: Object,    
    filters: Object
});
//console.log(props.cars);

const years = computed(() => {
    const year = new Date().getFullYear()
    return Array.from({length: year - 1960}, (value, index) => 1961 + index)
});

const form = useForm({    
        brand:'',
        fromyear:1960,
        toyear:'',            
        pricefrom:0,
        priceto:99999,
        kmfrom:0,
        kmto: 999999,
        gearbox:'',
        emissions:'',
        service:'',                             
        filter:''
});

if(props.filters){
    form.brand= props.filters.brand;    
    form.fromyear= props.filters.fromyear;
    form.toyear= props.filters.toyear;            
    form.pricefrom= props.filters.pricefrom;
    form.priceto= props.filters.priceto;
    form.kmfrom= props.filters.kmfrom;
    form.kmto= props.filters.kmto;
    form.gearbox= props.filters.gearbox;
    form.emissions= props.filters.emissions;
    form.service= props.filters.service;                             
    form.filter= props.filters.filter;
}

function reset() {
    form.reset('brand','fromyear','toyear','pricefrom','priceto','kmfrom','kmto','gearbox','emissions','service','filter');
}

const submit = () => {
    form.get(route('cars.index'));
};

</script>

<template>
    <Head title="Welcome" />
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">AutoMag<em> Website</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                            
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(frontend/assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Our <em>Cars</em></h2>                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">AutoMag<em> Website</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <div v-if="canLogin" class="sm:fixed sm:top-0 sm:right-0 p-6 text-right">
                            <Link
                                v-if="$page.props.auth.user"
                                :href="route('dashboard')"
                                class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                                >Dashboard</Link
                            >                            
                            <template v-else>
                                <Link :href="route('cart.index')" class="hover:text-red-700 transition">                                            
                                    <span class="bg-red-600 text-white text-xm rounded-md p-1 absolute"
                                    style="top: 0px; right: 167px;">3</span>
                                    <icon name="cart" class="w-4 h-4 fill-current" style="position: fixed; top: 20px left: 50px"></icon>
                                    <!--<span class="ml-2">3 item(s) in the cart</span>-->
                                </Link>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
                                <Link
                                    :href="route('login')"
                                    class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                                    >Log in
                                </Link>

                                <Link
                                    v-if="canRegister"
                                    :href="route('register')"
                                    class="ml-4 font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                                    >Register
                                </Link>                                
                            </template>                            
                        </div>                          
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">        
        <div class="container">           
            <div class="form card p-3 bg-light">                                
                <form @submit.prevent="submit" id="contact">
                    <div class="row justify-content-center">                                      
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Car Brand:</label>                     
                                <input type="text" v-model="form.brand" class="ml-2 px-4 py-1 text-sm rounded border">
                            </div>
                        </div>
                    </div><br>
                    <div class="row justify-content-center">                            
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>From Year:</label>&nbsp;                   
                                <select v-model="form.fromyear" class="ml-2 px-4 py-1 text-sm rounded border">
                                    <option disabled value="">(from year)</option>                                  
                                    <option v-for="year in years" :value="year">{{ year }}</option>
                                </select>
                            </div>
                        </div>                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>To Year:</label>&nbsp;               
                                <select v-model="form.toyear" class="ml-2 px-4 py-1 text-sm rounded border">
                                    <option disabled value="">(to year)</option>                                  
                                    <option v-for="year in years" :value="year">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                    </div><br>
                    <div class="row justify-content-center">    
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>From Price:</label>
                                <input type="number" v-model="form.pricefrom" placeholder="(from price)" class="ml-2 px-4 py-1 text-sm rounded border">                                 
                            </div>
                        </div>                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>To Price:</label>
                                <input type="number" v-model="form.priceto" placeholder="(to price)" class="ml-2 px-4 py-1 text-sm rounded border">                                 
                            </div>
                        </div>
                    </div><br>
                    <div class="row justify-content-center">    
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>From km:</label>&nbsp;
                                <input type="number" v-model="form.kmfrom" placeholder="(from km)" class="ml-2 px-4 py-1 text-sm rounded border"> 
                            </div>
                        </div>                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>To km:</label>&nbsp;
                                <input type="number" v-model="form.kmto" placeholder="(to km)" class="ml-2 px-4 py-1 text-sm rounded border">
                            </div>
                        </div>
                    </div><br>
                    <div class="row justify-content-center">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">Car Gearbox:</label>&nbsp;&nbsp;&nbsp;                  
                            <input type="radio" class="form-check-input" v-model="form.gearbox" value="Manual">Manual&nbsp;&nbsp;&nbsp; 
                            <input type="radio" class="form-check-input" v-model="form.gearbox" value="Automatic">Automatic
                        </div>
                    </div><br><br>
                    <div class="row justify-content-center">                   
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Car Emissions:</label>
                                <select v-model="form.emissions" class="ml-2 px-4 py-1 text-sm rounded border">
                                    <option selected="selected">(select emission)</option>                                   
                                    <option>Euro 1</option>
                                    <option>Euro 2</option>  
                                    <option>Euro 3</option>    
                                    <option>Euro 4</option>
                                    <option>Euro 5</option>
                                    <option>Euro 6</option> 
                                </select>
                            </div>
                        </div>                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">                           
                            <div class="form-group">
                            <label class="form-check-label">Service Book:</label>&nbsp;&nbsp; 
                            <input type="checkbox" v-model="form.service" true-value="yes" false-value="no">
                            </div>    
                        </div> 
                    </div><br><br>                    
                    <div class="col-sm-4 offset-sm-4">
                      <div class="main-button text-center">
                        <button type="button" @click="submit" class="rounded-l rounded-r px-4 py-2 bg-blue-600 hover:bg-red-700 mr-4">
                                        Search
                        </button>
                        <button type="button" @click="reset" class="rounded-l rounded-r px-4 py-2 bg-green-600 hover:bg-yellow-700">
                                        Reset
                        </button>
                      </div>                     
                    </div>
                    <br>
                    <br>
                </form>
            </div><br>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" v-if="cars.data.length >=1">
                <div class="form-group">
                    <label>Filter Results:&nbsp;</label>
                    <select v-model = "form.filter"  @change="submit" v-if="cars.data.length >=1">
                        <option disabled value="">(filter results)</option>
                        <option value="asc">Price Ascending</option>
                        <option value="desc">Price Descending</option>
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>
            </div>          
            <div class="row">
                <div v-for="car in cars.data" :key="car.id" class="col-sm-4">
                    <div class="trainer-item">
                        <div class="image-thumb">                            
                            <carousel>
                                <template #slides>
                                    <slide v-for="carphoto in car.images" :key="carphoto.id">
                                        <img class="object-cover" :src="carphoto.image" alt="">
                                    </slide>
                                </template>
                            </carousel>  
                        </div>    
                        <div class="down-content">
                            <span style="font-size:14.0pt">
                                <!--<del><sup>$</sup>11999 </del> &nbsp;--> <sup>&#x20AC</sup>{{car.price}}
                            </span>

                            <h4>{{ car.brand }}</h4>

                            <p>
                                <i class="fa fa-dashboard"></i> {{ car.km }} &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-calendar"></i> {{ car.year }} &nbsp;&nbsp;&nbsp;                                
                                <i class="fa fa-cog"></i> {{ car.gearbox }} &nbsp;&nbsp;&nbsp;
                            </p>

                            <ul class="social-icons">
                                <li><Link :href="route('cars.show', car.id)" class="px-4 py-2 text-white bg-blue-600 rounded my-3" >Show Car</Link></li>                               
                            </ul>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="row justify-content-center" v-if="cars.data.length === 0">
                <h1 style="color:red"><b>No cars found!</b></h1>
            </div>    
            <br>                
            <nav class="pagination pagination-lg justify-content-center">             
                <pagination :links="cars.links" />                
            </nav>
        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="#">Modified by Mircea</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>    
</template>

<style>
.bg-dots-darker {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E");
}
@media (prefers-color-scheme: dark) {
    .dark\:bg-dots-lighter {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(255,255,255,0.07)'/%3E%3C/svg%3E");
    }
}
</style>
