<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { computed } from 'vue'
import { Head, useForm } from '@inertiajs/vue3';
import PrimaryButton from '@/Components/PrimaryButton.vue';

const props = defineProps({
    errors: Object    
});

const years = computed(() => {
    const year = new Date().getFullYear()
    return Array.from({length: year - 1960}, (value, index) => 1961 + index)
});

const form = useForm({
    brand: null,
    year: null,
    price: null,
    km: null,
    gearbox: null,
    emissions: null,
    service: null,
    information: null,
    images: null    
});

const submit = () => {
    form.post(route('cars.store'));
};


</script>

<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <section class="section section-bg" id="call-to-action" style="background-image: url(/frontend/assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Add Car <em>Dashboard</em></h2>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br><br>
            <div class="row">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8"> 
                <form @submit.prevent="submit">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">  
                        <div class="mb-4">
                            <label for="brand" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Brand:</label>
                            <input type="text" v-model="form.brand" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="(enter car brand)">
                            <div v-if="errors.brand" class="font-bold text-red-600">{{ errors.brand }}</div>                                
                        </div>
                        <div class="mb-4">
                            <label for="year" class="block text-gray-700 text-sm font-bold mb-2">Year:</label>
                            <select v-model="form.year" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                <option disabled value="">(select year)</option>                                  
                                <option v-for="year in years" :value="year">{{ year }}</option>
                            </select>
                            <div v-if="errors.year" class="font-bold text-red-600">{{ errors.year }}</div>                                
                        </div>    
                        <div class="mb-4">
                            <label for="price" class="block text-gray-700 text-sm font-bold mb-2">Price:</label>
                            <input type="number" v-model="form.price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="(enter car price)">
                            <div v-if="errors.price" class="font-bold text-red-600">{{ errors.price }}</div>                                
                        </div>
                        <div class="mb-4">
                            <label for="km" class="block text-gray-700 text-sm font-bold mb-2">km:</label>
                            <input type="number" v-model="form.km" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="(enter car km)">
                            <div v-if="errors.km" class="font-bold text-red-600">{{ errors.km }}</div>                                
                        </div>
                        <div class="mb-4">
                            <label for="gearbox" class="block text-gray-700 text-sm font-bold mb-2">Gearbox:</label>
                            <input type="radio" v-model="form.gearbox" class ="mr-1" value="Manual">Manual
                            <input type="radio" v-model="form.gearbox" class ="mr-1" value="Automatic">Automatic
                            <div v-if="errors.gearbox" class="font-bold text-red-600">{{ errors.gearbox }}</div>                                
                        </div>
                        <div class="mb-4">
                            <label for="emissions" class="block text-gray-700 text-sm font-bold mb-2">Emissions Type:</label>
                            <select v-model="form.emissions" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                <option selected>(select emission)</option>                                   
                                <option>Euro 1</option>
                                <option>Euro 2</option>  
                                <option>Euro 3</option>    
                                <option>Euro 4</option>
                                <option>Euro 5</option>
                                <option>Euro 6</option> 
                            </select>
                            <div v-if="errors.emissions" class="font-bold text-red-600">{{ errors.emissions }}</div>                                
                        </div>
                        <div class="mb-4">
                            <label for="service" class="block text-gray-700 text-sm font-bold mb-2">Service Book:</label>
                            <input type="checkbox" v-model="form.service" true-value="yes" false-value="no" class="form-check-input appearance-none h-4 w-4 border border-gray-300">
                        </div>
                        <div class="mb-4">
                            <label for="information" class="block text-gray-700 text-sm font-bold mb-2">Other Information:</label>
                            <textarea v-model="form.information" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700" placeholder="(other information)"></textarea>
                        </div>      
                        <div class="mb-4">
                            <label for="images" class="block text-gray-700 text-sm font-bold mb-2">Car Images:</label>
                            <input type="file" multiple @input="form.images=$event.target.files">
                            <div v-if="errors.images" class="font-bold text-red-600">{{ errors.images }}</div>
                        </div>
                        <div class="flex items-center justify-end mt-4">
                            <PrimaryButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Create
                            </PrimaryButton>
                        </div>
                    </div>
                </form>
                </div>                
            </div>    
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="#">Modified by Mircea</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    </AuthenticatedLayout>
</template>
