<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { computed } from 'vue'
import { Head, useForm } from '@inertiajs/vue3';
import PrimaryButton from '@/Components/PrimaryButton.vue';

const props = defineProps({
    car: Object,
    errors: Object    
});

const years = computed(() => {
    const year = new Date().getFullYear()
    return Array.from({length: year - 1960}, (value, index) => 1961 + index)
});

const form = useForm({
    brand: props.car.brand,
    year: props.car.year,
    price: props.car.price,
    km: props.car.km,
    gearbox: props.car.gearbox,
    emissions: props.car.emissions,
    service: props.car.service,
    information: props.car.information,
    images: props.car.images    
});

function destroyPicture(id) {
    if (confirm("Are you sure you want to delete this picture?")) {
        form.delete(route('destroypicture', id));
    }
}

const submit = () => {
    form.post(route('updatecar', props.car.id));
};


</script>

<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <section class="section section-bg" id="call-to-action" style="background-image: url(/frontend/assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Edit Car <em>Dashboard</em></h2>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br><br>
            <div class="row">
                <div class="max-w-6xl mx-auto sm:px-6 lg:px-8"> 
                    <form @submit.prevent="submit">                
                        <table class="md:table-fixed">                
                            <tr>
                                <td style="width: 30%"><label for="brand" class="block uppercase tracking-wide text-gray-900 text-xs font-bold mb-2">Brand:</label></td>
                                <td style="width: 30%"><input type="text" v-model="form.brand" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></td>
                                <td><div v-if="errors.brand" class="font-bold text-red-600">{{ errors.brand }}</div></td>                                
                            </tr>
                            <tr>                    
                                <td><label for="year" class="block text-gray-900 text-sm font-bold mb-2">Year:</label></td>
                                <td>
                                    <select v-model="form.year" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="exampleFormControlInput1">
                                        <option disabled value="">(select year)</option>                                  
                                        <option v-for="year in years" :value="year">{{ year }}</option>
                                    </select>
                                </td>        
                                <td><div v-if="errors.year" class="font-bold text-red-600">{{ errors.year }}</div></td>
                            </tr>
                            <tr>
                                <td><label for="price" class="block text-gray-900 text-sm font-bold mb-2">Price:</label></td>
                                <td><input type="number" v-model="form.price" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></td>
                                <td><div v-if="errors.price" class="font-bold text-red-600">{{ errors.price }}</div></td>                                
                            </tr>
                            <tr>
                                <td><label for="km" class="block text-gray-900 text-sm font-bold mb-2">km:</label></td>
                                <td><input type="number" v-model="form.km" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></td>
                                <td><div v-if="errors.km" class="font-bold text-red-600">{{ errors.km }}</div></td>                                
                            </tr>
                            <tr>            
                                <td><label for="gearbox" class="block text-gray-900 text-sm font-bold mb-2">Car Gearbox</label></td>
                                <td>
                                    <input type="radio" v-model="form.gearbox" class ="mr-1" value="Manual">Manual
                                    <input type="radio" v-model="form.gearbox" class ="mr-1" value="Automatic">Automatic
                                </td>
                                <td><div v-if="errors.gearbox" class="font-bold text-red-600">{{ errors.gearbox }}</div></td>
                            </tr>
                            <tr>
                                <td><label for="emissions" class="block text-gray-900 text-sm font-bold mb-2">Car Emissions</label></td>
                                <td>
                                    <select v-model="form.emissions" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700">
                                        <option disabled value="">(select emission)</option>                                   
                                        <option>Euro 1</option>
                                        <option>Euro 2</option>  
                                        <option>Euro 3</option>    
                                        <option>Euro 4</option>
                                        <option>Euro 5</option>
                                        <option>Euro 6</option>  
                                    </select>
                                </td>
                                <td><div v-if="errors.emissions" class="font-bold text-red-600">{{ errors.emissions }}</div></td>
                            </tr>
                            <br>
                            <tr>
                                <td><label for="service" class="block text-gray-900 text-sm font-bold mb-2">Service Book</label></td>
                                <td><input type="checkbox" v-model="form.service" true-value="yes"
                                    false-value="no" class="form-check-input appearance-none h-4 w-4 border border-gray-300"></td>                       
                            </tr>
                            <br>
                            <tr>
                                <td><label for="information" class="block text-gray-900 text-sm font-bold mb-2">Other Informations</label></td>
                                <td><textarea v-model="form.information" rows="5" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"></textarea></td>
                            </tr> 
                            <tr class="mb-4" v-for="carphoto in car.carphotos" :key="carphoto.id">
                                <td><img class="object-cover h-50 w-50" :src="carphoto.image"></td>
                                <td>                                    
                                    <button @click="destroyPicture(carphoto.id)" class="inline-flex justify-center rounded-md border border-transparent px-4 py-2 bg-red-600">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            <br>
                            <tr>
                                <td><label for="images" class="block text-gray-900 text-sm font-bold mb-2">Update Car Images:</label></td>
                                <td><input type="file" multiple @input="form.images=$event.target.files"></td>
                                <td><div v-if="errors.images" class="font-bold text-red-600">{{ errors.images }}</div></td>
                            </tr>
                            <div class="flex items-center justify-end mt-4">
                                <PrimaryButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                    Update Car
                                </PrimaryButton>
                            </div>                
                        </table>
                    </form>                
                </div>                
            </div>    
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="#">Modified by Mircea</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    </AuthenticatedLayout>
</template>
