<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Link, Head, useForm } from '@inertiajs/vue3';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide } from 'vue3-carousel';
import Pagination from '@/Components/Pagination.vue';

const props = defineProps({
    cars: Object   
});

const form = useForm({});

function deleteCar(id) {
    if (confirm("Are you sure you want to delete this car?")) {
        form.delete(route('cars.destroy', id));
    }
}


</script>

<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <section class="section section-bg" id="call-to-action" style="background-image: url(/frontend/assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>MyCars <em>Dashboard</em></h2>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="trainers">
        <div class="container">
     
            <br><br>
            <div class="col-sm-4 offset-sm-4">
                <div class="main-button text-center">
                    <Link :href="route('cars.create')">Create Car</Link>
                </div>
            </div>
            <br>
            <br> 
            <div class="row">
                <div v-for="car in cars.data" :key="car.id" class="col-sm-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <carousel>
                                <template #slides>
                                    <slide v-for="carphoto in car.carphotos" :key="carphoto.id">
                                        <img class="object-cover" :src="carphoto.image" alt="">
                                    </slide>
                                </template>
                            </carousel>
                        </div>
                        <div class="down-content">
                            <span style="font-size:14.0pt">
                                <!--<del><sup>$</sup>11999 </del> &nbsp;--> <sup>&#x20AC</sup>{{car.price}}
                            </span>

                            <h4>{{ car.brand }}</h4>

                            <p>
                                <i class="fa fa-dashboard"></i> {{ car.km }} &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-calendar"></i> {{ car.year }} &nbsp;&nbsp;&nbsp;                                
                                <i class="fa fa-cog"></i> {{ car.gearbox }} &nbsp;&nbsp;&nbsp;
                            </p>

                            <ul class="social-icons">
                                <li><Link :href="route('cars.show', car.id)" class="px-4 py-2 text-white bg-blue-600 rounded my-3" >Show Car</Link></li>
                                <li><Link :href="route('cars.edit', car.id)" class="px-4 py-2 text-white bg-yellow-600 rounded my-3">Edit Car</Link></li>
                                <li><button @click="deleteCar(car.id)" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-1.5 px-3 rounded my-3">Delete Car</button></li>   
                            </ul>
                        </div>
                    </div>
                </div>                
            </div>
            <br>
                
            <nav class="pagination pagination-lg justify-content-center">             
                <pagination :links="cars.links" />                
            </nav>

        </div>
    </section>
    <!-- ***** Our Classes End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="#">Modified by Mircea</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    </AuthenticatedLayout>
</template>


