<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, useForm } from '@inertiajs/vue3';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Pagination, Navigation, Slide } from 'vue3-carousel';
import GrayButton from '@/Components/GrayButton.vue';


const props = defineProps({
    car: Object,
     
});

const form = useForm({
    id: props.car.id,
    name: props.car.brand,   
    price: props.car.price,    
    image: props.car.image,
    quantity: 1,
    totalQty: props.car.quantity
    
});

const submit = () => {
    form.post(route('cart.store'));
};

</script>

<template>
    <Head title="Dashboard" />

    <!--<AuthenticatedLayout>-->
        <section class="section section-bg" id="call-to-action" style="background-image: url(/frontend/assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Show Car <em>Dashboard</em></h2>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br><br>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <carousel>
                    <template #slides>
                        <slide v-for="carphoto in car.carphotos" :key="carphoto.id">
                            <img :src="carphoto.image" class="object-cover img-fluid.max-width: 100%" height="auto">
                        </slide>
                    </template>
                    <template #addons>
                        <Navigation />
                        <Pagination />
                    </template>
                </carousel> 
            </div>
            
            <br>
            <br>

            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li><a href='#tabs-1'><i class="fa fa-cog"></i> Vehicle Specs</a></li>
                  <li><a href='#tabs-2'><i class="fa fa-info-circle"></i> Vehicle Description</a></li>                 
                  <li><a href='#tabs-4'><i class="fa fa-phone"></i> Contact Details</a></li>
                </ul>                    
              </div>
              <div class="col-lg-8">
                <section class='tabs-content' style="width: 100%;">
                  <article id='tabs-1'>
                    <h4>Vehicle Specs</h4>
                    <form @submit.prevent="submit">
                        <div class="row">
                            <div class="mt-4 bg-gray-200 rounded">
                                <br>                        
                                <div class="flex items-center">
                                    <label for="quantity" class="text-xl capitalize">Qty:</label>&nbsp;&nbsp;
                                    <select  v-model="form.quantity" class="w-80 border bg-white rounded px-3 py-1 outline-none" tabindex="1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="text-center mt-4">
                                    <GrayButton as="submit" class="text-sm">
                                        <span>Add to Cart</span>
                                    </GrayButton>
                                </div><br>                            
                            </div>
                        </div>
                        <div class="row">                 
                            <div class="col-sm-6">
                                <label> Model</label>
                        
                                <p>{{ car.brand }}</p>
                            </div>
                            <div class="col-sm-6">
                                <label> Price</label>
                        
                                <p>{{ car.price }}</p>
                            </div>
                        </div>    
                    </form>
                    <div class="row">    
                        <div class="col-sm-6">
                                <label>First registration</label>
                        
                                <p>{{ car.year }}</p>
                            </div>

                            <div class="col-sm-6">
                                <label>Mileage</label>
                        
                                <p>{{ car.km }} km</p>
                            </div>

                            <div class="col-sm-6">
                                <label>Emissions Type</label>
                        
                                <p>{{ car.emissions }}</p>
                            </div>

                            <div class="col-sm-6">
                                <label>Car Service Book</label>
                        
                                <p>{{ car.service }}</p>
                            </div>

                            <div class="col-sm-6">
                                <label>Gearbox</label>
                        
                                <p>{{ car.gearbox }}</p>
                            </div>                                      
                    </div>
                   
                  </article>
                  <article id='tabs-2'>
                    <h4>Vehicle Description</h4>
                    
                    <p>- {{ car.description }} </p> 
                   </article>                  
                  <article id='tabs-4'>
                    <h4>Contact Details</h4>

                    <div class="row">   
                        <div class="col-sm-6">
                            <label>Name</label>

                            <p>{{ car.user.name }}</p>
                        </div>                        
                        <div class="col-sm-6">
                            <label>Email</label>
                            <p><a href="#">{{ car.user.email }}</a></p>
                        </div>
                    </div>
                  </article>                  
                </section>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2020 Company Name
                        - Template by: <a href="#">Modified by Mircea</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--</AuthenticatedLayout>-->
</template>
