<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link } from '@inertiajs/vue3';
import YellowButton  from '@/Components/YellowButton.vue';
import OrderTotals  from '@/Components/OrderTotals.vue';

</script>

<template>
    <Head title="Cart" />

    <div class="max-w-7xl mx-auto px-4 py-4 space-y-4 sm:px-6 md:flex md:space-y-0 md:space-x-4 lg:px-8">            
        <div class="flex-1">
            <div class="flex justify-between">
                <p class="text-red-600 text-2xl font-semibold">
                    Your card is empty!
                </p>
                <p class="text-red-600 text-2xl font-semibold">
                    5 item(s) in card!
                </p>
                <Link :href="route('/cars')" class="underline hover:text-red-700 transition">Continue Shopping</Link>
            </div>
            <div class="flex justify-between border-t-4 border-b-4 border-current py-2">
                <div class="w-1/3 text-blue-600 font-semibold">Item</div>
                <div class="flex justify-between w-1/2 text-blue-600 font-semibold">
                    <span class="flex-1 text-center">Quantity</span>                    
                    <span class="flex-1 text-right">Price</span>                    
                </div>
            </div>
            <div>
                <div class="flex justify-between border-t border-b border-black py-2">
                    <div class="flex space-x-4 w-1/2">
                        <Link href="#">
                            <img :src="'storage/images/hand_craft.jpg'" alt="" class="object-cover">
                        </Link>
                        <div class="flex flex-1 flex-col justify-between">
                            <Link href="#" class="flex flex-col">
                                <span>aeadgsgrdydty</span>
                                <span>werewttt6666e</span>
                            </Link>
                            <div class="flex flex-col mt-4">
                                <form>
                                    <button type="submit" class="hover:text-yellow-500">Remove</button>
                                </form>
                                <form>
                                    <button type="submit" class="hover:text-yellow-500">Save for later</button>
                                </form>
                            </div>
                        </div>
                    </div>                    
                    <div class="flex justify-between w-1/2">
                        <div class="flex-1 text-center">
                            <select class="border bg-white rounded outline-none py-0" tabindex="1">
                                <option value="1">1</option>
                            </select>    
                        </div>
                        <span class="flex-1 text-right">
                            $5.99ea
                        </span>
                    </div>
                </div>    
            </div>
            <div class="text-center text-red-600 text-2xl font-semibold mt-4 mb-2 md:text-left">
                <p class="text-red-600 text-2xl font-semibold">You have saved no items for later!</p>
                <p class="text-red-600 text-2xl font-semibold"> 5 item(s) saved for later</p>
            </div> 
            <div class="flex justify-between border-t border-b border-black py-2">
                <div class="w-1/3 text-blue-600 font-semibold">Item</div>
                <div class="flex justify-between w-1/2 text-blue-600 font-semibold">
                    <span class="flex-1 text-center">Quantity</span>                    
                    <span class="flex-1 text-right">Price</span>
                </div>
            </div>
            <div>
                <div class="flex justify-between border-black py-2">
                    <div class="flex space-x-4 w-1/2">
                        <Link href="#">
                            <img :src="'storage/images/hand_craft.jpg'" alt="" class="object-cover">
                        </Link>
                        <div class="flex flex-1 flex-col justify-between">
                            <Link href="#" class="flex flex-col">
                                <span>aeadgsgrdydty</span>
                                <span>werewttt6666e</span>
                            </Link>
                            <div class="flex flex-col mt-4">
                                <form>
                                    <button type="submit" class="hover:text-yellow-500">Remove</button>
                                </form>
                                <form>
                                    <button type="submit" class="hover:text-yellow-500">Move to cart</button>
                                </form>
                            </div>
                        </div>
                    </div>                    
                    <div class="flex justify-between w-1/2">
                        <div class="flex-1 text-center">
                            <select class="border bg-white rounded outline-none py-0" tabindex="1">
                                <option value="1">1</option>
                            </select>    
                        </div>
                        <span class="flex-1 text-right">
                            $5.99ea
                        </span>
                    </div>
                </div>    
            </div>
            <!--<div class="text-center text-red-600 text-2xl fonnt-semibold mt-4 mb-2 md:text-left">
                <p class="text-red-600 text-2xl font-semibold">You have saved no items for later!</p>
                <p class="text-red-600 text-2xl font-semibold"> 5 item(s) saved for later</p>
            </div>-->
        </div>
        <div class="flex-1">
            <OrderTotals></OrderTotals>            
        </div>
    </div>
    <!--</AuthenticatedLayout>-->
</template>
